@model Restauracja.Models.Dish

@{
    ViewData["Title"] = "Odmowa dostępu";
}

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            <h1>Odmowa dostępu</h1>
        </div>
        <div class="d-flex justify-content-center">
            <h3>Użytkowniku przykro nam ale nie masz dostępu do tej strony</h3>
        </div>
    </div>
</div>
