@model Restauracja.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Logowanie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />

<h2 class="admin_label mb-3">Logowanie</h2>

<form asp-action="Login">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
    <div class="mb-3">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="control-label">Hasło</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <input type="submit" value="Zaloguj się" class="btn btn-success" />
    </div>
    
</form>
<div class="mb-3">
    <a asp-controller="Users" asp-action="Create"><input type="submit" value="Zarejestruj się" class="btn btn-primary" /></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
