@model Restauracja.Models.Dish

@{
    ViewData["Title"] = "Pomyślna rejestracja";
}

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            <h1>Udało Ci się założyć konto</h1>
        </div>
        <div class="d-flex justify-content-center">
            <h3>Aktywuj swoje konto poprzez, skorzystanie z linku aktywacyjnego przesłanego na maila</h3>
        </div>
    </div>
</div>
