@model Restauracja.Models.Dish

@{
    ViewData["Title"] = "Lista dań";
}

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            <h1>Usuwanie</h1>
        </div>
        <div class="d-flex justify-content-center">
            <h3>Czy napewno chcesz usunąć potrawę o nazwe <b>@(Model.Name) </b>?</h3>
        </div>
        <div class="d-flex justify-content-center">
            <form asp-action="Delete">
                <input type="hidden" asp-for="DishID" />
                <input type="submit" value="Usuń" class="btn btn-danger" />                
            </form>
            <a asp-action="Index"><button class="btn btn-primary"> Wróć</button></a>
        </div>
    </div>
</div>
