@inject IHttpContextAccessor context;
@{
    string role = context.HttpContext.Session.GetString("role");
    string firstName = context.HttpContext.Session.GetString("firstName");
    string lastName = context.HttpContext.Session.GetString("lastName");
    bool isLoggedIn = context.HttpContext.Session.TryGetValue("role", out byte[] sessionBytes1)
            && context.HttpContext.Session.TryGetValue("firstName", out byte[] sessionBytes2)
            && context.HttpContext.Session.TryGetValue("lastName", out byte[] sessionBytes3) ? true : false;

    
    
    

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Wspaniała</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Restauracja.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Wspaniała restauracja</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="naav nav-item mask navi">
                        <a class="nav-link text-white" asp-area="" asp-controller="Dishes" asp-action="Index">Lista dań</a>
                    </li>
                    @if (isLoggedIn)
                    {
                        <li class="naav nav-item mask navi">
                            <a class="nav-link text-white" aria-current="page">Zamówienia</a>
                        </li>
                        @if(role == "Admin")
                        {
                            <li class="naav nav-item mask navi">
                                <a class="nav-link text-white" aria-current="page" >Zamówienia - admin</a>
                            </li>
                            <li class="naav nav-item mask navi">
                                <a class="nav-link text-white" aria-current="page" >Składniki</a>
                            </li>
                            <li class="naav nav-item mask navi">
                                <a class="nav-link text-white" aria-current="page" asp-area="" asp-controller="Categories" asp-action="Index">Kategorie</a>
                            </li>
                            <li class="naav nav-item mask navi">
                                <a class="nav-link text-white" aria-current="page" >Użytkownicy</a>
                            </li>
                        }
                        <li class="naav nav-item mask navi">
                            <a class="nav-link text-white" aria-current="page" >JA</a>
                        </li>
                    }
                </ul>
            </div>
            @if (!isLoggedIn)
            {
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 login-segment">
                    <li class="nav-item navi">
                        <a asp-area="" asp-controller="Users" asp-action="Login">
                            <button type="button" class="btn btn-primary logedas">Zaloguj się</button>
                        </a>
                    </li>
                </ul>
            }
            else
            {
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 login-segment">
                    <li class="naav nav-item mask navi">
                        <a class="nav-link text-white" aria-current="page" asp-area="" asp-controller="Carts" asp-action="Index">Koszyk</a>
                    </li>
                    <li class="text-white nav-item navi logedas">
                        <span>Jesteś zalogowany jako <b>@firstName @lastName </b></span>
                    </li>
                    <li class="nav-item navi">
                        <a asp-area="" asp-controller="Users" asp-action="Logout">
                            <button type="submit" class="btn btn-primary logedas">Wyloguj się</button>
                        </a>
                </li>
                </ul>
            }
            
        </div>
    </nav>

    <article>
        <div class="article-content">
            @RenderBody()
        </div>
    </article>


    <footer class="text-center">
        <div class="text-center footer-content">
            © 2023 Copyright:
            <span> Cezary Borkowski</span>
        </div>
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
